:8800

@room {
	path_regexp room ^/[0-9]+$
}

@root {
	path root /
}

@assets {
    path assets /assets/*
}

route @room {
	rewrite * /room.html
	file_server {
		root /srv
	}
}

route @root {
	rewrite * /index.html
	file_server {
		root /srv
	}
}

route @assets {
    file_server {
        root /srv
    }
}

reverse_proxy meetingmood:8844
