<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consensus Hand Signals</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"
            integrity="sha512-YXLGLsQBiwHPHLCAA9npZWhADUsHECjkZ71D1uzT2Hpop82/eLnmFb6b0jo8pK4T0Au0g2FETrRJNblF/46ZzQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"
            integrity="sha512-B4skI5FiLurS86aioJx9VfozI1wjqrn6aTdJH+YQUmCZum/ZibPBTX55k5d9XM6EsKePDInkLVrN7vPmJxc1qA=="
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link href="/assets/room.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <input v-model="user" placeholder="username"> <span v-on:click="deleteUserMood(user)">×</span>
    <p>Room number: <span id="roomnumber">{{ room }}</span></p>
    <div v-for="(value, key) in moods" class="moodgroup">
        {{key}}:
        <button v-for="(mood, index) in moods[key]" v-on:click="sendMood(mood)" v-bind:disabled="!isReady" class="mood-button" :class="mood.replaceAll(' ', '_')">{{ mood }}</button>
    </div>
    <hr>
    <div class="mood-list">
        <article class="mood" v-for="(item, index) in userMoods" v-on:click="deleteUserMood(item.username)"><span
                class="mood__username">{{item.username}}</span> :: <span class="mood__mood" :class="item.mood.replaceAll(' ', '_')">{{item.mood}}</span></article>
    </div>
</div>
<div class="footer">
    <p>[[.]]</p>
</div>
<script src="/assets/room.js"></script>
</body>
</html>