<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consensus Hand Signals</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"
            integrity="sha512-YXLGLsQBiwHPHLCAA9npZWhADUsHECjkZ71D1uzT2Hpop82/eLnmFb6b0jo8pK4T0Au0g2FETrRJNblF/46ZzQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"
            integrity="sha512-B4skI5FiLurS86aioJx9VfozI1wjqrn6aTdJH+YQUmCZum/ZibPBTX55k5d9XM6EsKePDInkLVrN7vPmJxc1qA=="
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Fira Code', monospace;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: #6d6875;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="app">
    <input v-model="user" placeholder="username"> <span v-on:click="deleteUserMood(user)">×</span>
    <p>Room number: <span id="roomnumber">{{ room }}</span></p>
    <button v-for="(mood, index) in moods" v-on:click="sendMood(mood)">{{ mood }}</button>
    <div class="mood-list">
        <article class="mood" v-for="(item, index) in userMoods" v-on:click="deleteUserMood(item.username)"><span
                id="mooduser">{{item.username}}</span> :: <span id="mood">{{item.mood}}</span></article>
    </div>
</div>
<div class="footer">
    <p>[[.]]</p>
</div>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            user: '',
            room: undefined,
            moods: [
                "Agree",
                "Agree and volunteer",
                "Response",
                "Direct response",
                "Technical point",
                "Language",
                "Speak up",
                "Slow down",
                "I'm confused",
                "Veto"
            ],
            userMoods: []
        },
        methods: {
            deleteUserMood: function (username = this.user) {
                const body = JSON.stringify({
                    username: username,
                    roomUser: `${this.room}${username}`
                })
                fetch(`/${this.room}/delete`, {
                    method: 'post',
                    body: body
                })
            },
            sendMood: function (mood) {
                // 2419200 is 28 days - the username cookie will expire if you don't use it for four weeks
                document.cookie = `username=${this.user};max-age=2419200;SameSite=Strict`
                const message = JSON.stringify({
                    username: this.user,
                    mood: mood,
                    room: this.room,
                    roomUser: `${this.room}${this.user}`
                })
                fetch(`/${this.room}/mood`, {
                    method: 'post',
                    body: message
                })
            },
        }
    })

    window.onload = function () {
        try {
            app.user = document.cookie.split("; ").find(row => row.startsWith("username=")).split('=')[1]
        } catch (e) {
            console.log(e)
            console.log("New user")
        }
        app.room = location.pathname.split("/")[1]


        const socketAddr = ((window.location.protocol === "https:") ? "wss://" : "ws://") + window.location.host + window.location.pathname + "/ws"
        const moodSocket = new ReconnectingWebSocket(socketAddr);
        const update = function () {
            moodSocket.onopen = function () {
                console.log(`(re)-connected to ${socketAddr}`)
                app.userMoods = []
                fetch(`/${app.room}/all`)
                    .then(res => res.json())
                    .then((all) => {
                        if (all != null) {
                            all.forEach(mood => {
                                app.userMoods.push(mood)
                            })
                        }
                    })
            }
            moodSocket.onmessage = function (event) {
                const moodOperation = JSON.parse(event.data)
                const mood = {username: moodOperation.username, mood: moodOperation.mood}
                switch (moodOperation.operation) {
                    case "Delete":
                        // delete
                        app.userMoods = app.userMoods.filter(item => item.username != mood.username)
                        break;
                    case "Save":
                        app.userMoods = app.userMoods.filter(item => item.username != mood.username)
                        app.userMoods.push(mood)
                }
            }
        };
        window.setTimeout(update);
    }
</script>
</body>
</html>