* {
    font-family: 'Fira Code', monospace;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #6d6875;
    text-align: center;
}
button
{
    margin:5px;
}

.Agree_and_volunteer {
    color: #2dc937
}
.Agree {
    color: #99c140
}
.Stand_aside {
    color: #e7b416
}
.Veto {
    color: #cc3232
}